:root {
    --color-primary: #1a1c1e;
    --color-secondary: #1f2228;
    --border-color: #58616b;

    --text-primary: #f8f9fa;
    --text-secondary: #adb5bd;
    --text-dark: #000000;

    --color-accent-green: #2dba4e;
    --color-accent-red: #ff4d4f;
    --color-accent-yellow: #fadb14;
    --color-accent-blue: #1890ff;

    --priority-1: #ff4d4f;
    --priority-2: #FF9800;
    --priority-3: #fadb14;

    --color-handle: #80bdff;


    --header-height: 80px;
    --footer-height: 50px;

    --side-width: 200px;
    --menu-width: 50px;

    --primary-side-margin: 0 10vw;
    --primary-side-padding: 0 10vw;

    --text-size-1: 1rem;
    --text-size-2: 0.90rem;
    --text-size-3: 0.75rem;
    --text-size-4: 0.60rem;
    --text-size-5: 0.50rem;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-primary);
    background-color: var(--color-primary);
    margin: 0;
}

#grid-container {
    display: grid;
    grid-template-areas:
    "header header header"
    "menu main main"
    "footer footer footer";
    grid-template-rows: var(--header-height) auto var(--footer-height);
    grid-template-columns: var(--side-width) 1fr var(--side-width);
}

@media (max-width: 800px) {
    #grid-container {
        grid-template-areas:
      "header"
      "menu"
      "main"
      "footer";
        grid-template-rows: var(--header-height) auto auto var(--footer-height);
        grid-template-columns: 1fr;
    }
}

header-element {
    grid-area: header;
    background-color: var(--color-primary);
    color: var(--text-primary);
    border-bottom: 1px solid var(--border-color);
}

main-element {
    grid-area: main;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    background-color: var(--color-primary);
}

footer-element {
    grid-area: footer;
    background-color: var(--color-primary);
    color: var(--text-primary);
    border-top: 1px solid var(--border-color);
}

menu-element {
    grid-area: menu;
    background-color: var(--color-secondary);
    border-right: 1px solid var(--border-color);
}
